<label
  class="relative block mt-5 bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4"
>
  <span class="sr-only">Search</span>
  <span class="absolute inset-y-0 left-0 flex items-center pl-2">
    <svg class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20">...</svg>
  </span>
  -->

  <input
    class="shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
    id="search"
    type="text"
    placeholder="Search for books..."
  />
  <!-- <button class="btn btn-primary" (ngModelChange)="setInputValue()">
      Search
    </button> -->
  <!-- </label> -->
</label>
