<!-- Button trigger modal -->
<button
  type="button"
  class="btn-template"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Add Books
</button>

<!-- Modal -->
<div
  class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto bg-gray-900 opacity-75"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog relative w-auto pointer-events-none">
    <div
      class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current"
    >
      <div
        class="flex flex-shrink-0 items-center justify-between rounded-t-md bg-indigo-500 opacity-75"
      >
        <button
          type="button"
          class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body relative p-4 bg-indigo-500 opacity-75">
        <div
          class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4"
        >
          <div class="mb-4">
            <label
              class="block text-blue-300 py-2 font-bold mb-2"
              for="booktitle"
            >
              Book Title : {{ formInputTitle }}
            </label>
            <input
              [(ngModel)]="formInputTitle"
              class="shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
              id="bookTitle"
              type="text"
              placeholder="title"
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-blue-300 py-2 font-bold mb-2"
              for="booktitle"
            >
              Authors Name : {{ formInputfirstName }} {{ formInputlastName }}
            </label>
            <div class="grid grid-cols-2 gap-4">
              <div class="form-group mb-6">
                <input
                  [(ngModel)]="formInputfirstName"
                  type="text"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="exampleInput123"
                  aria-describedby="emailHelp123"
                  placeholder="First name"
                />
              </div>
              <div class="form-group mb-6">
                <input
                  [(ngModel)]="formInputlastName"
                  type="text"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="exampleInput124"
                  aria-describedby="emailHelp124"
                  placeholder="Last name"
                />
              </div>
            </div>
          </div>
          <div class="mb-4">
            <label class="block text-blue-300 py-2 font-bold mb-2" for="genre">
              Genre : {{ formInputGenre }}
            </label>
            <div class="form-group mb-6">
              <input
                [(ngModel)]="formInputGenre"
                type="genre"
                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                id="exampleInput126"
                placeholder="Genre"
              />
            </div>
          </div>
          <div class="mb-4">
            <label
              class="block text-blue-300 py-2 font-bold mb-2"
              for="description"
            >
              Description : {{ formInputDescription }}
            </label>
            <div class="form-group mb-6">
              <div class="form-group mb-6">
                <textarea
                  [(ngModel)]="formInputDescription"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="exampleFormControlTextarea13"
                  rows="3"
                  placeholder="description"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <label class="block text-blue-300 py-2 font-bold mb-2" for="year">
              Year Published : {{ formInputYearPublished }}
            </label>
            <div class="form-group mb-6">
              <input
                [(ngModel)]="formInputYearPublished"
                type="date"
                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                id="exampleInput126"
                placeholder="Published Year"
              />
            </div>
            <label class="block text-blue-300 py-2 font-bold mb-2" for="year">
              Image Link: {{ formInputImageUrl }}
            </label>
            <div class="form-group mb-6">
              <input
                [(ngModel)]="formInputImageUrl"
                type="text"
                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                id="exampleInput126"
                placeholder="Image Link"
              />
            </div>
          </div>

          <div class="flex items-center justify-between pt-4">
            <button
              (click)="getFormInputs()"
              (click)="createBookRequest()"
              class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
              type="button"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
      <div
        class="flex flex-shrink-0 flex-wrap items-center p-4 bg-indigo-500 opacity-75"
      >
        <button
          type="button"
          class="px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          (click)="createBookRequest()"
          type="button"
          class="px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
