<!-- show complete text -->
<span *ngIf="text.length <= wordLimit">{{ text }}</span>
<!-- show truncated text -->
<span *ngIf="text.length > wordLimit && !showMore">
  {{ text.substring(0, wordLimit) }} ...
  <!-- <a type="button" class="text-bg-indigo hover:to-green-500" -->
  <a type="button" class="see-more"
    ><span (click)="showMore = true"
      ><p class="text-sky-400 mb-8">show more</p></span
    ></a
  >
</span>
<!-- reverse show more -->
<span *ngIf="text.length > wordLimit && showMore">
  {{ text }}
  <a type="button" class="hover:to-green-500"
    ><span (click)="showMore = false">
      <p class="text-sky-400">show less</p></span
    ></a
  >
</span>
